html {
	height: 100%;
}

body {
	background: #DDDDDD;
	font-weight: 400px;
	font-size: 15px;
	color: #333333;
	/*overflow: hidden;*/
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

.container {
	height: 100%;
}

a {
	text-decoration: none;
	color: #555;
}

.clr {
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	clear: both;
	overflow: hidden;
}

.st-con {
	width: 100%;
	height: 100%;
	/*position: absolute;*/
	left: 0;
	top: 0;
}

.st-con input,
.st-con a {
	width: 20%;
	height: 50px;
	line-height: 50px;
	position: fixed;
	bottom: 0;
}

.st-con>input {
	opacity: 0;
	z-index: 1000;
}

.st-con a {
	z-index: 10;
	font-weight: 600;
	font-size: 18px;
	background: #e23a6e;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(151, 24, 64, 0.2);
}

#st-control-1,
#st-control-1+a {
	left: 0;
}

#st-control-2,
#st-control-2+a {
	left: 20%;
}

#st-control-3,
#st-control-3+a {
	left: 40%;
}

#st-control-4,
#st-control-4+a {
	left: 60%;
}

#st-control-5,
#st-control-5+a {
	left: 80%;
}

.st-con input:checked+a,
.st-con input:checked:hover+a {
	background: #821134;
}

.st-con input:checked+a:after {
	content: '';
	width: 0;
	height: 0;
	/*border: 100px solid #821134;*/
	overflow: hidden;
	border: 20px solid transparent;
	border-bottom-color: #821134;
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -20px;
}

.st-con input:hover+a {
	background: #AD244F;
}


/*内容*/

.st-scroll,
.st-panel {
	width: 100%;
	height: 100%;
	position: relative;
	background: #fff;
}

.st-panel {
	overflow: hidden;
}

.st-scroll {
	left: 0;
	top: 0;
	background: #fff;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-transition: top 0.6s ease-in-out;
	-moz-transition: top 0.6s ease-in-out;
	-ms-transition: top 0.6s ease-in-out;
	-o-transition: top 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

#st-control-1:checked~.st-scroll {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-o-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

#st-control-2:checked~.st-scroll {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

#st-control-3:checked~.st-scroll {
	-webkit-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-o-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	transform: translateY(-200%);
}

#st-control-4:checked~.st-scroll {
	-webkit-transform: translateY(-300%);
	-moz-transform: translateY(-300%);
	-o-transform: translateY(-300%);
	-ms-transform: translateY(-300%);
	transform: translateY(-300%);
}

#st-control-5:checked~.st-scroll {
	-webkit-transform: translateY(-400%);
	-moz-transform: translateY(-400%);
	-o-transform: translateY(-400%);
	-ms-transform: translateY(-400%);
	transform: translateY(-400%);
}

.st-iocn {
	width: 400px;
	height: 400px;
	position: absolute;
	background: #FFB6C1;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	left: 50%;
	margin-left: -200px;
	top: -200px;
	color: #000000;
}

.st-panel h2 {
	position: absolute;
	color: #FFB6C1;
	font-weight: 600;
	top: 35%;
	left: 50%;
	margin-left: -170px;
}

.st-panel p {
	font-size: 19px;
	position: absolute;
	color: #FFB6C1;
	font-weight: 400;
	top: 43%;
	left: 50%;
	margin-left: -35%;
	width: 70%;
}

@keyframes st-panel-h {
	from {
		top: 30%;
	}
	to {
		top: 35%;
	}
}

@keyframes st-panel-p {
	from {
		top: 52%;
	}
	to {
		top: 43%;
	}
}

#st-control-1:checked~.st-scroll #st-panel-1 h2,
#st-control-2:checked~.st-scroll #st-panel-2 h2,
#st-control-3:checked~.st-scroll #st-panel-3 h2,
#st-control-4:checked~.st-scroll #st-panel-4 h2,
#st-control-5:checked~.st-scroll #st-panel-5 h2 {
	animation: st-panel-h 1s ease-in-out;
}

#st-control-1:checked~.st-scroll #st-panel-1 p,
#st-control-2:checked~.st-scroll #st-panel-2 p,
#st-control-3:checked~.st-scroll #st-panel-3 p,
#st-control-4:checked~.st-scroll #st-panel-4 p,
#st-control-5:checked~.st-scroll #st-panel-5 p {
	animation: st-panel-p 1s ease-in-out;
}

.st-color {
	background: #FFB6C1;
}

.st-color p,
.st-color h2 {
	color: #fff;
}

.st-color .st-iocn {
	background: #fff;
}

@media only screen and (max-width: 700px) {
	.st-iocn {
		top: -300px;
	}
	.st-panel p {
		font-size: 15px;
		top: 43%;
		left: 50%;
		margin-left: -45%;
		width: 90%;
	}
	.st-con a {
		font-weight: 500;
		font-size: 16px;
	}
}
@media only screen and (max-width: 400px) {
	.st-iocn {
		top: -350px;
	}
}
